
.content-container{
    height: 500px;
    width: 800px;

}
.bouton-description{
    background-color: #81bda4;
    color: #fff;
    text-align: center;
    width: 100%;
    border: 1;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}
.input-content{
    height: 500px;
}